<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0">
        <title>设备更改</title>
        <link rel="stylesheet" type="text/css" href="/static/wechat/css/weui.min.css">
        <link rel="stylesheet" type="text/css" href="/static/wechat/css/weix.css">
        <script type="text/javascript" src="/static/wechat/js/jquery.js"></script>
        <script type="text/javascript" src="/static/wechat/js/weix.js"></script>
        <style type="text/css">
        /*.data_all{
            display:none;
        }*/
        </style>
    </head>
    <body ontouchstart>
    <section>
        <ul class="wei_ul">
            <!-- 用户绑定设备 -->
        </ul>
                        {% for gid in gid_list.object_list %}
                            <tr>
                                <td><input type="checkbox" name="checkbox" class="checkbox"></td>
                                <td>{{ record.id }}</td>
                                <td>{{ record.sn }}</td>
                                <td>{{ record.gid }}</td>
                                <td>{{ record.nice_gid }}</td>
                                <td>{{ record.factory }}</td>
                                <td>{{ record.dev_model }}</td>
                                <td>{{ record.dev_type }}</td>
                                <td>{{ record.soft_version }}</td>
                                <td>{{ record.status }}</td>
                                <td>{{ record.primary }}</td>
                                <td>{{ record.mobile }}</td>
                                <td>{{ record.production_date|date:"Y-m-d" }}</td>
                                <td>{{ record.saved_ts|date:"Y-m-d H:i:s" }}</td>
                                <td>{{ record.remarks }}</td>
                            </tr>
                        {% endfor %}
        
        <!-- 用户的所有信息 改成{{payload}}-->
        <P class="data_all" style="word-wrap: break-word;word-break:break-all;">{u'province': u'\u798f\u5efa', u'openid': u'oCMvsvp6SIkF_nLGUoIQn5_VeYV8', u'headimgurl': u'http://wx.qlogo.cn/mmopen/PibrXhBSBicsgxxJW4cvdU6xP0tEW2gCibk1sVwPSugDd6mk0VicSwxpyVG08PR5Ux6mYKctI9eNjrgXUIiaTJhl41BbTlIdOeYj5/0', u'language': u'zh_CN', u'city': u'\u8386\u7530', u'country': u'\u4e2d\u56fd', u'sex': 1, u'privilege': [], u'nickname': u'\u4fa0'}</P>
        <!-- 用的绑定设备信息p 改成后台输出的内容，看真实输出格式-->
        <p class="odata_all">[{'name':'爸爸','id':'100001'},{'name':'姐姐','id':'100002'},{'name':'大伯','id':'100003'},{'name':'儿子','id':'100003'}]</p>
        <!-- 修改昵称 star-->


        <div class="weui_dialog_confirm" id="dialog1">
            <div class="weui_mask"></div>
            <div class="weui_dialog">
                <div class="weui_dialog_hd"><span class="weui_dialog_title">修改昵称</span></div>
                <div class="weui_dialog_bd">
                    &nbsp;&nbsp;可以给亲情平板设置个昵称,比如“爸妈的家”<br>
                    <input type="text" class="new_name">
                </div>
                <div class="weui_dialog_ft">
                    <a href="javascript:;" class="weui_btn_dialog default cancel_x" onclick="hide('.weui_dialog_confirm')">取消</a>
                    <a href="javascript:;" class="weui_btn_dialog primary confirm_x" onclick="queding()">确定</a>
                </div>
            </div>
        </div>
        <!-- 修改昵称 end-->
        <!-- 解绑 star-->
        <div class="weui_dialog_jiebang">
            <div class="weui_mask"></div>
            <div class="weui_dialog">
                <div  class="weui_dia"><strong>您确定要解除绑定？</strong></div>
                <div class="weui_dialog_ft">
                    <a href="javascript:;" class="weui_btn_dialog default cancel" onclick="hide('.weui_dialog_jiebang')">取消</a>
                    <a href="javascript:;" class="weui_btn_dialog primary confirm" onclick="jiebang()">确定</a>
                </div>
            </div>
        </div>
        <!-- 解绑 end-->
    </section>
    </body>
</html>
